@charset "UTF-8";
/*Colores*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
}

h1 {
  font-family: "Droid Sans Mono", monospace;
  color: black;
  text-align: left;
}

.logonav {
  width: 60%;
  height: 50%;
  padding: 20px;
}
.logonav div {
  width: 70%;
  height: 70%;
  gap: 20px;
  padding: 10px;
}

/*Modificador de Links principal*/
a {
  text-decoration: none;
}

/*MODIFICACIONES EN BOOTSTRAP*/
.section {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  width: 100%;
  max-width: 100%;
  min-width: 350px;
  margin: auto;
  padding-top: 0px;
  font-size: 120%;
}
.navbar a {
  color: rgb(255, 59, 88);
  font-weight: 400;
}
.navbar a:link {
  color: rgb(255, 59, 88);
}
.navbar a:hover {
  color: rgb(255, 59, 88);
  font-weight: 600;
  text-decoration: overline;
}
.navbar a:active {
  color: rgb(255, 59, 88);
  font-weight: 500;
  text-decoration: overline;
}
.navbar ul {
  padding-left: 50px;
}
.navbar-nav {
  gap: 30px;
}
.navbar-toogler {
  background-color: rgb(244, 112, 134);
}

.container-fluid {
  background-color: rgb(255, 190, 201);
  padding: 20px;
}

.carousel-item {
  width: 100%;
  height: 400px;
  align-items: end;
}

/*BODY - CONTENIDO*/
.intro {
  display: grid;
  gap: 20px;
  padding: 5%;
  text-align: center;
  width: 100%;
  grid-template-areas: "textointro foto1 foto2 foto3" "botonintro foto1 foto2 foto3";
}
.intro img {
  box-shadow: 0.5rem 0.5rem 1rem #b1b1b1;
  transition: 0.5s;
  object-fit: cover;
}
.intro img:hover {
  transform: scale(0.9);
}
.intro p {
  text-align: center;
  color: rgb(116, 116, 116);
}
.intro #parrafointro {
  text-align: left;
  color: rgb(116, 116, 116);
}
.intro * {
  border-radius: 25px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .intro {
    grid-template-areas: "textointro textointro textointro" "foto1 foto2 foto3" "botonintro botonintro botonintro";
  }
  .intro .botonintro {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .intro {
    grid-template-areas: "textointro textointro " "foto1 foto2" "foto3 foto3" "botonintro botonintro";
  }
  .intro .botonintro {
    width: 100%;
  }
}
@media (max-width: 390px) {
  .intro {
    grid-template-areas: "textointro" "foto1" "foto2" "foto3" "botonintro";
  }
  .intro .botonintro {
    width: 100%;
    height: 80px;
  }
}

.textointro {
  grid-area: textointro;
  text-align: start;
  padding-right: 20px;
  color: rgb(116, 116, 116);
}

.foto1 {
  grid-area: foto1;
}

.foto2 {
  grid-area: foto2;
}

.foto3 {
  grid-area: foto3;
}

.botonintro {
  grid-area: botonintro;
  border: 0;
  width: 200px;
  height: 40px;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  background-image: linear-gradient(150deg, #ff4b96, rgb(244, 124, 255), #ffc6ee);
  border-radius: 8px;
  color: #fff;
  display: grid;
  font-size: 20px;
  color: rgb(255, 255, 255);
  padding: 4px;
  cursor: pointer;
  transition: 0.3s;
}
.botonintro a {
  color: #fff;
}
.botonintro:hover {
  box-shadow: 0.5rem 0.5rem 1rem #ccc;
}
.botonintro:active {
  transform: scale(0.9);
}

/*FIN DE MODIFICADORES INICIO*/
.quienes {
  display: grid;
  gap: 20px;
  padding: 5%;
  text-align: center;
  width: 100%;
  grid-template-areas: "fotoquienes pquienes" "fotoquienes botonintro";
}
.quienes img {
  width: 50%;
  border-radius: 10px;
  box-shadow: 0.5rem 0.5rem 1rem #ccc;
  transition: 0.5s;
  object-fit: cover;
}
.quienes img:hover {
  transform: scale(1.2);
}
.quienes p {
  grid-area: pquienes;
  text-align: start;
  padding: 10px 10px;
  color: rgb(116, 116, 116);
}
@media (min-width: 768px) and (max-width: 1023px) {
  .quienes {
    grid-template-areas: "fotoquienes pquienes" "fotoquienes botonintro";
  }
  .quienes .fotoquienes {
    display: flex;
    flex-wrap: wrap;
  }
  .quienes .botonintro {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .quienes {
    grid-template-areas: "fotoquienes" "pquienes" "botointro";
  }
  .quienes #pquienes h1 {
    text-align: center;
  }
  .quienes .botonintro {
    width: 100%;
  }
}
@media (max-width: 390px) {
  .quienes {
    grid-template-areas: "fotoquienes" "pquienes" "botonintro";
  }
  .quienes .botonintro {
    width: 100%;
    height: 80px;
  }
}

.fotoquienes {
  grid-area: fotoquienes;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  justify-content: center;
  justify-items: center;
  align-content: baseline;
  align-items: stretch;
}

/*TERMINA PAGINA NOSOTROS*/
/*SECCIÓN NUESTROS PRODUCTOS*/
.nuestrosproductos {
  min-height: 100vh;
  width: 100%;
  padding: 5%;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: start;
  display: grid;
  grid-template-areas: "textonp textonp textonp textonp" "producto1 producto2 producto3 producto4";
  gap: 20px;
  /*Ajusted de GRID*/
}
.nuestrosproductos h1 {
  padding-bottom: 5%;
}
.nuestrosproductos img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
  margin: 0;
  box-shadow: 0.5rem 0.5rem 1rem #b1b1b1;
  transition: 0.5s;
  object-fit: cover;
}
.nuestrosproductos img:hover {
  transform: scale(1.2);
}
@media (min-width: 768px) and (max-width: 1023px) {
  .nuestrosproductos {
    grid-template-areas: "textonp textonp" "producto1 producto2" "producto3 producto4";
  }
}
@media (max-width: 767px) {
  .nuestrosproductos {
    /*.botonintro{
        width: 100%;
    }*/
    grid-template-areas: "textonp textonp" "producto1 producto2" "producto3 producto4";
  }
  .nuestrosproductos .textonp h1 {
    text-align: center;
  }
}
@media (max-width: 470px) {
  .nuestrosproductos {
    grid-template-areas: "textonp" "producto1" "producto2" "producto3" "producto4";
  }
  .nuestrosproductos .textonp p {
    text-align: start;
    padding: 20%;
  }
  .nuestrosproductos .producto1 {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    padding: 10%;
  }
  .nuestrosproductos .producto1 p {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
  }
  .nuestrosproductos .producto1 h2 {
    width: 100%;
    padding: 20px;
    text-align: center;
  }
  .nuestrosproductos .producto2 {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    padding: 10%;
  }
  .nuestrosproductos .producto2 p {
    text-align: center;
    padding: 20px 20px;
  }
  .nuestrosproductos .producto2 h2 {
    width: 100%;
    padding: 20px;
    text-align: center;
  }
  .nuestrosproductos .producto3 {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    padding: 10%;
  }
  .nuestrosproductos .producto3 p {
    text-align: center;
    padding: 20px 20px;
  }
  .nuestrosproductos .producto3 h2 {
    width: 100%;
    padding: 20px;
    text-align: center;
  }
  .nuestrosproductos .producto4 {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    padding: 10%;
  }
  .nuestrosproductos .producto4 p {
    text-align: center;
    padding: 20px 20px;
  }
  .nuestrosproductos .producto4 h2 {
    width: 100%;
    padding: 20px;
    text-align: center;
  }
}

.textonp {
  grid-area: textonp;
  width: 100%;
  height: 100%;
}

.precio1 {
  font-weight: 500;
}

.producto1 {
  grid-area: producto1;
}
.producto1 p {
  width: 200px;
  text-align: left;
}
.producto1 h2 {
  text-align: left;
  padding-top: 15%;
}

.producto2 {
  grid-area: producto2;
}
.producto2 p {
  width: 200px;
  text-align: left;
}
.producto2 h2 {
  text-align: left;
  padding-top: 15%;
}

.producto3 {
  grid-area: producto3;
}
.producto3 p {
  width: 200px;
  text-align: left;
}
.producto3 h2 {
  text-align: left;
  padding-top: 15%;
}

.producto4 {
  grid-area: producto4;
}
.producto4 p {
  width: 200px;
  text-align: left;
}
.producto4 h2 {
  text-align: left;
  padding-top: 15%;
}

/*Termina pagina productos*/
/*CLIENTES*/
.nuestrosclientes {
  min-height: 100vh;
  width: 100%;
  padding: 5%;
  justify-content: center;
  justify-items: center;
  align-items: stretch;
  align-content: start;
  display: grid;
  grid-template-areas: "textonc textonc textonc" "cliente1 cliente2 cliente3";
  gap: 20px;
  /*Ajusted de GRID*/
}
.nuestrosclientes h1 {
  padding-bottom: 5%;
}
.nuestrosclientes img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
  margin: 0;
  box-shadow: 0.5rem 0.5rem 1rem #b1b1b1;
  transition: 0.5s;
  filter: opacity(0.4);
}
.nuestrosclientes img:hover {
  filter: opacity(2);
}
@media (min-width: 768px) and (max-width: 1023px) {
  .nuestrosclientes {
    grid-template-areas: "textonc textonc" "cliente1 cliente2" "cliente3 cliente3";
  }
}
@media (max-width: 767px) {
  .nuestrosclientes {
    grid-template-areas: "textonc textonc" "cliente1 cliente2" "cliente3 cliente3";
  }
  .nuestrosclientes .textonc h1 {
    text-align: center;
  }
}
@media (max-width: 470px) {
  .nuestrosclientes {
    grid-template-areas: "textonc" "cliente1" "cliente2" "cliente3";
  }
  .nuestrosclientes .textonc p {
    text-align: start;
    padding: 20%;
  }
  .nuestrosclientes .cliente1 {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    padding: 10%;
  }
  .nuestrosclientes .cliente1 p {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
  }
  .nuestrosclientes .cliente1 h2 {
    width: 100%;
    padding: 20px;
    text-align: center;
  }
  .nuestrosclientes .cliente2 {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    padding: 10%;
  }
  .nuestrosclientes .cliente2 p {
    text-align: center;
    padding: 20px 20px;
  }
  .nuestrosclientes .cliente2 h2 {
    width: 100%;
    padding: 20px;
    text-align: center;
  }
  .nuestrosclientes .cliente3 {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    padding: 10%;
  }
  .nuestrosclientes .cliente3 p {
    text-align: center;
    padding: 20px 20px;
  }
  .nuestrosclientes .cliente3 h2 {
    width: 100%;
    padding: 20px;
    text-align: center;
  }
}

.textonc {
  grid-area: textonc;
  width: 100%;
  height: 100%;
}

.cliente1 {
  grid-area: cliente1;
}
.cliente1 p {
  width: 200px;
  text-align: left;
}
.cliente1 h2 {
  text-align: left;
  padding-top: 15%;
}

.cliente2 {
  grid-area: cliente2;
}
.cliente2 p {
  width: 200px;
  text-align: left;
}
.cliente2 h2 {
  text-align: left;
  padding-top: 15%;
}

.cliente3 {
  grid-area: cliente3;
}
.cliente3 p {
  width: 200px;
  text-align: left;
}
.cliente3 h2 {
  text-align: left;
  padding-top: 15%;
}

/*Termina CLIENTES*/
/*CONTACTO*/
.tituloconta {
  padding: 20px;
}

.formulario {
  display: grid;
  gap: 20px;
  padding: 5%;
  text-align: center;
  width: 100%;
  grid-template-areas: "imgform formulariosm" "imgform botonintro";
}
.formulario img {
  width: 50%;
  border-radius: 10px;
  box-shadow: 0.5rem 0.5rem 1rem #ccc;
}
.formulario p {
  grid-area: pcontacto;
  text-align: start;
  padding: 10px 10px;
  color: rgb(116, 116, 116);
}
@media (min-width: 768px) and (max-width: 1023px) {
  .formulario {
    grid-template-areas: "imgform" "formulariosm";
  }
  .formulario .imgform {
    display: flex;
    flex-wrap: wrap;
  }
  .formulario .botonintro {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .formulario {
    grid-template-areas: "imgform" "formulariosm";
  }
  .formulario #pquienes h1 {
    text-align: center;
  }
  .formulario .botonintro {
    width: 100%;
  }
}
@media (max-width: 390px) {
  .formulario {
    grid-template-areas: "imgform" "formulariosm";
  }
  .formulario .botonintro {
    width: 100%;
    height: 80px;
  }
}

.pcontacto {
  padding: 20px;
}

.imgform {
  grid-area: imgform;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  justify-content: center;
  justify-items: center;
  align-content: baseline;
  align-items: stretch;
}

/*PIE DE PAGINA*/
.piedepagina {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  background-image: linear-gradient(180deg, #ffffff 0, #fff8ff 12.5%, #ffeffa 25%, #ffe5f6 37.5%, #ffdaf2 50%, #ffd0f8 62.5%, #ecc7ee 75%, #ffc1e8 87.5%, #ffa9dd 100%);
  padding: 20px;
  gap: 10%;
  border: 10%;
}
@media (max-width: 768px) {
  .piedepagina {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .piedepagina div {
    text-align: center;
  }
}
.piedepagina h2 {
  color: black;
  padding-left: 50%;
}
.piedepagina a {
  color: rgb(255, 59, 88);
}
.piedepagina a:hover {
  color: rgb(170, 0, 130);
}
.piedepagina .direccion {
  color: black;
}
.piedepagina ul {
  display: flex;
  flex-direction: row;
  color: rgb(255, 59, 88);
  gap: 30px;
}
.piedepagina ul li {
  list-style: none;
}
.piedepagina ul li:hover {
  color: rgb(244, 112, 134);
}
@media (max-width: 768px) {
  .piedepagina {
    display: flex;
    flex-direction: column;
  }
  .piedepagina ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
    padding: 0px;
  }
  .piedepagina h2 {
    padding-left: 0%;
  }
}

.icosocial {
  display: flex;
  flex-direction: row;
  color: rgb(255, 59, 88);
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
  gap: 20px;
}

.whatsapp {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 150px;
  right: 30px;
  background-color: #6e0033;
  color: #FFF;
  border-radius: 50%;
  text-align: center;
  font-size: 37px;
  z-index: 100;
  box-shadow: 0.5rem 0.5rem 1rem #ccc;
}
@media (max-width: 768px) {
  .whatsapp {
    visibility: hidden;
  }
}

.whatsapp-icon {
  margin-top: 10px;
}

footer {
  padding-top: 10%;
}

/*# sourceMappingURL=styles.css.map */
