@import "variables";
/*CONTACTO*/

.tituloconta{
    padding: 20px;

}

.formulario{
    @include flexcolumncent;
    display: grid;
    gap: 20px;
    padding: 5%;
    text-align:justify;
    width: 100%;
    height: auto;
    grid-template-areas: 
        "imgform formulariosm"
        "imgform formulariosm";
    img{
    width: 50%;
    border-radius: 10px;
    box-shadow: .5rem .5rem 1rem #ccc,
    
    }
    p{
        grid-area: pcontacto;
        text-align:start;
        padding: 10px 10px;
        color: $gris;

    }
    @media (min-width:768px) and (max-width:1023px){
        
        .imgform{
            @include flexcolumncent;
            visibility: hidden;
        }
        .botonintro{
            width: 100%;
        }
        grid-template-areas:
        "formulariosm";
        
    }
    @media (max-width:767px){
        .imgform{
            justify-content: center;
            visibility: hidden;
        }
        
        #pquienes h1{
            text-align: center;
        }
        .botonintro{
            width: 100%;
        }
        grid-template-areas:
        "formulariosm";
    }
    @media (max-width:480px){
        .imgform{
            justify-content: center;
            visibility: hidden;
        }
        .botonintro{
            width: 100%;
            height: 80px;
        }
        grid-template-areas:
        
        "formulariosm";
        .formulariosm{
            width: 100%;

        }
    }
    
}

.pcontacto{
    padding: 20px;
    font-size: $sizeh1;
}

.imgform{
    grid-area: imgform;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    justify-content: start;
    justify-items: center;
    align-content: baseline;
    align-items: stretch;
} 

.formulariosm{
    width: 450px;
    margin: auto;
    background:$negro;
    padding: 20px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 6px;

    h2{
        font-size: $sizeh1+2px;
        color:$color-rosaclaro;
    }
}

input,textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
}

textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}

#botonenv{
    background:$color-textnav;
    color: $color-textnavlink;
    padding: 20px;
    &:hover{
        cursor:crosshair;
    }
}




/*Fin de pagina contacto*/