@import "variables";
/*CONTACTO*/

.bdcontacto{
    background: linear-gradient(rgba($gris,.50),rgba($color-fondo,1)),url(/img/Cliente1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    
}

.tituloconta{
    padding: 20px;

}
.formulario{
    
    display: grid;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align:justify;
    width: 100%;
    height: auto;
    grid-template-areas: 
    "formulariosm";
    p{
        grid-area: pcontacto;
        text-align:start;
        padding: 10px 10px;
        color: $gris;

    }
    @media (min-width:768px) and (max-width:1023px){
        
        .botonintro{
            width: 100%;
        }
        grid-template-areas:
        "formulariosm";
        
    }
    @media (max-width:767px){
        
        #pquienes h1{
            text-align: center;
        }
        .botonintro{
            width: 100%;
        }
        grid-template-areas:
        "formulariosm";
    }
    @media (max-width:480px){
        .botonintro{
            width: 100%;
            height: 80px;
        }
        grid-template-areas:
        "formulariosm";
        
        .formulariosm{
            width: 100%;
        }
    }
    
}

.pcontacto{
    padding: 20px;
    font-size: $sizeh1;
}

.formulariosm{
    display: grid;
    grid-area: formulariosm;
    width: 450px;
    margin: auto;
    background:$negro;
    padding: 20px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 6px;

    h2{
        font-size: $sizeh1+2px;
        color:$color-rosaclaro;
    }
}

input,textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
    border-radius: 6px;
}

textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
    border-radius: 6px;
}




/*Fin de pagina contacto*/