@import "variables";
/*CONTACTO*/

.tituloconta{
    padding: 20px;

}

.formulario{
    @include flexcolumncent;
    display: grid;
    gap: 20px;
    padding: 5%;
    text-align:justify;
    width: 100%;
    height: auto;
    grid-template-areas: 
        "imgform formulariosm"
        "imgform botonintro";
    img{
    width: 50%;
    border-radius: 10px;
    box-shadow: .5rem .5rem 1rem #ccc,
    
    }
    p{
        grid-area: pcontacto;
        text-align:start;
        padding: 10px 10px;
        color: $gris;

    }
    @media (min-width:768px) and (max-width:1023px){
        
        .imgform{
            @include flexcolumncent;
            
        }
        .botonintro{
            width: 100%;
        }
        grid-template-areas:
        "imgform"
        "formulariosm";
    }
    @media (max-width:767px){
        .imgform{
            justify-content: center;
        }
        
        #pquienes h1{
            text-align: center;
        }
        .botonintro{
            width: 100%;
        }
        grid-template-areas:
        "imgform"
        "formulariosm";
    }
    @media (max-width:390px){
        .imgform{
            justify-content: center;
        }
        .botonintro{
            width: 100%;
            height: 80px;
        }
        grid-template-areas:
        "imgform"
        "formulariosm";
    }
    
}

.pcontacto{
    padding: 20px;
    font-size: $sizeh1;
}

.imgform{
    grid-area: imgform;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    justify-content: start;
    justify-items: center;
    align-content: baseline;
    align-items: stretch;
} 

/*Fin de pagina contacto*/