@import "variables";
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    background-color:$color-fondo;
}

h1{
    font-family: $tituloh1;
    color: $colorh1;
    text-align: left;
}


    /*Modificador de Links principal*/
a{
        text-decoration: none;
        
}