/*Colores*/
$color-fondo: rgb(255, 255, 255);
$bg-colormenu: rgb(255, 190, 201);
$color-letra: rgb(0, 40, 220);
$tituloh1: 'Droid Sans Mono', monospace;
$colorh1: black;
$texto-contenido: 'arial', sans-serif;
$color-textnav: rgb(255, 59, 88);
$color-textnavlink: rgb(244, 112, 134);
$sizetextnav: 120%;
$color-footer: black;
$color-rosaclaro:rgb(233, 207, 211);
$colorfoot2:linear-gradient(180deg, #ffffff 0, #fff8ff 12.5%, #ffeffa 25%, #ffe5f6 37.5%, #ffdaf2 50%, #ffd0f8 62.5%, #ecc7ee 75%, #ffc1e8 87.5%, #ffa9dd 100%);
$negro:black;
$gris: rgb(116, 116, 116);
$resaltado: rgb(170, 0, 130);
$wasaptra: rgb(98, 255, 98);


//Variables de tamaño de dispositivos//
$mobile: (max-width:480px);
$tablet: (min-width:480px) and (max-width:728px);
$desktop:(min-width:1024px);
//Fin de variables de dispositivo//


