/*Colores*/
$bg-body: rgb(255, 210, 217);
$color-letra: rgb(0, 40, 220);
$tituloh1: 'Droid Sans Mono', monospace;
$colorh1: red;
$texto-contenido: 'arial', sans-serif;
$color-textnav: rgb(255, 0, 157);


