@import "variables";
@import "bucles";


body{
    background-color:$color-fondo;
}


h1{
    font-family: $tituloh1;
    color: $colorh1;
}

div{
    width:100%;
    height: 100%;
    background-color: $bg-colormenu;
    
    div .logonav{
        
        width: 70%;
        height: 70%;
        gap:20px;
        padding: 10px;
        
        @media (min-width: 265px){
            width: 200px;
            height: 200px;
            gap: 5px;
        }

    }

    .lista-nav li{
        display:inline;
        margin-top: 10px;
        align-items: center;
        justify-content: center;
    }

    p{
        font-size: 20px;
        color:$color-letra;
        font-family:$texto-contenido;
    }
}

/*CONTENEDORES*/
.contenedores-imagenes{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
    label{
        border: solid 1px;
        padding: 8px 15px;
        width: 150px;
        text-align: center;
        cursor: pointer;

        }
    }


/*Modificaciones Bootstrap*/

.navbar{
    padding-top: 0px;
    font-size: 20px;

    a:hover{
        color: $color-textnav;
        font-weight: 600;
        text-decoration: overline;
    }
    a:active{
        color: $color-textnav;
        text-decoration: none;
    }
    
}

